# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
env/
ENV/

# Home Assistant
config/
*.log
*.log.*
.storage/
.ha/
.deps/

# Editor
.vscode/
.idea/
*.swp
.DS_Store
